.popover-wrap{
    display: flex;
    padding:10px;
    width:40%;
    flex-wrap: wrap;
    margin:0 auto;
    border: 1px solid black;
}

.popover-item{
    white-space: nowrap;
    width:33%;
    text-align: center
}

.popover-item-title{
    margin-right:5px;
}