.contentTabBtn-wrap{
    display: flex;
    justify-content: space-between
}

.contentTabBtn-List button{
    margin-right:20px;
    font-weight:bold
}

button{
    font-weight:bold
}

#activee{
    background: grey
}