.powerbtnview-top{
    display:flex;
    border-bottom:1px solid #bbb4b4;
    padding-right: 10px;
    margin-bottom: 10px;
}

.powerbtnview-wrap{
    width: 40%;
    border-right: 1px solid #bbb4b4;
}

.powerbtnview-top button{
    margin-top:0px; 
}


.powerbtnview-bottom button{
    margin: 5px 30px;
}

.powerbtnview-bottom{
    flex-wrap: wrap;
display: flex;
justify-content: flex-start;
}

