.configcontent-wrap{
    border: 1px solid #bbb4b4;
    margin-top:20px;
    padding:10px;
    display: flex;
    flex-direction: column;
}

.configcontent-content{
    display:flex;
    justify-content: space-between;
}

.configcontent-head{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb4b4;
    display: flex;
    justify-content: space-between;
}

.configcontent-foot{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #bbb4b4;
    padding-top: 5px;
}