.contentForm-wrap .contentForm-title{
    font-weight: bold;
    margin: 10px 0px;
}

.contentForm-wrap .ant-table-tbody{
    text-align: center;
}

.contentForm-wrap .ant-table-thead th{
    text-align: center;
}