.ant-layout .ant-breadcrumb{
    padding-left: 20px;
    padding-top: 20px;
    color: rgb(57, 109, 37)
}

.ant-layout .ant-breadcrumb a{
    color: rgb(57, 109, 37)
}
.breadcrumb-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.back-btn{
    margin-right: 40px;
    margin-top: 20px;
}