.searchWrap-wrap{
    width:100%;
    display: flex;
    margin-bottom:10px;
    justify-content: flex-end
}

.searchWrap-wrap input{
    width:70%;
}
.searchWrap-wrap button{
    margin-left: 10px;
}