.homeworkheader-wrapper{
    display: flex;
}

.homeworkheader-user{
    width: 70%
}


.homeworkheader-wrapper  .search-wrap{
    width: 30%;
}

.homeworkheader-wrapper  .search-wrap input{
    width: 100%;
}

.homeworkheader-wrapper  .search-wrap button{
    margin-right:3px
}