

  @keyframes opacityShow
{
  from {opacity: 0;}
  to {opacity:1;}
}

 @keyframes transformShow
{
  from {transform:translateY(100%);}
  to {transform:translateY(0);}
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    animation: opacityShow .3s ease-in;
    animation-iteration-count:1;
    z-index:50;
  }

  .menu {
    
    transition: transform .3s ease-in;
    transform: translateY(100%);
  }
  

  .showMenu-ios{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EFEFF4;
    z-index: 100;
    animation: transformShow .3s ease-in;
    animation-iteration-count:1
  }

  .showMenu-android{
    animation: opacityShow .3s ease-in;
    animation-iteration-count:1;
    color: #000;
    font-size: 17px;
    transform: translate(-50%,-50%);
    transition: opacity .3s ease-in;
    position: absolute;
    top:50%;
    left:50%;
    width:60%;
    background-color: #EFEFF4;
    z-index: 100;
  }
  
  .title {
    background-color: #fff;
    padding: 20px 10px;
    text-align: center;
    font-size: 14px;
    color: #a1a1a1;
  }
  
  .btn {
    background-color: #fff;
    text-align: center;
    padding: 12px 10px;
  }
  
  .divider {
    position: relative;
  }
  .divider:after {
    position: absolute;
    content: '';
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e5e5e5;
    transform: scaleY(0.5)
  }
  
  .cancel {
    position: relative;
    margin-top: 5px;
  }

  .hide{
      display: none
  }

  .show{
      display: block
  }