.ant-layout-content{
    width: 95%;
    margin: 20px auto;
    background: white;
    padding: 50px;
}

.contentHeader-wrap{
    display: flex;
}

.user-title{
    color: blue
}
.contentHeader-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
   
}
.user-icon span{
    height: 80px;
    width: 80px;
    margin-right: 20px;
}

.contentHeader-content_message{
    display: flex;
    justify-content: space-between;
    width:70%
}

.contentHeader-content_message1{
    justify-content: space-between;
    display: flex;
    flex-direction: column
}

.contentHeader-content_message1 span{
    margin-right: 5px;
}

.parse-icon{
    float: right;
}

#beizhu{
    margin-right:33px;  
    margin-top:-1px
}

#beizhu~input{
    margin-top:-1px
}

.input-wrap{
    display: flex;
    white-space: nowrap
}
