@import '~antd/dist/antd.css';
#root{
  height:100%;
  width:100%;
}
.App {
  text-align: center;
}

.red-span{
  color:red;
  font-weight: bold
}


.orange-span{
  color:orange;
  font-weight: bold
}

