html,body{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;  
}
h1{
  padding:0;
  margin: 0;
}
#root{
  height: 100%;
  width: 100%;
}
/* 整体布局 */
.app{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* 头部 */
.title{
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
}
/* 内容 */
.app-content{
  flex-grow: 1;
  width: 100%;
}
.item{
  margin:2em 0;
  width: 100%;
  display: flex;
  justify-content: space-around
}
.item div{
  border-radius:50%;
  height:3em;
  width: 3em
}
.itemTitle{
  width: 20%;
}
.checkImg{
  width: 100%;
  height: 100%;
}
/* 底部导航 */
.tabBar{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background:rgb(184, 178, 178)
}
.tabBarBtn{
  font-weight: bold;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.tabBtnImg{
  width:3em;
  height:3em;
}
.redBtn{
  background:red;
  color:red
}

.purpleBtn{
  background:rgb(233, 2, 233);
  color:rgb(233, 2, 233)
}

.blackBtn{
  background:black;
  color:black
}

.greenBtn{
  background:green;
  color:green
}
.redBtnFont{

  color:red
}

.purpleBtnFont{

  color:rgb(233, 2, 233)
}

.blackBtnFont{

  color:black
}

.greenBtnFont{
  color:green
}